###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.log
My project (2)/.vs/My project (2)/FileContentIndex/04c5125d-c30f-4745-8d7f-cd9b4742d2f8.vsidx
My project (2)/.vs/My project (2)/FileContentIndex/11c93ad3-94a3-4990-a2e4-b7942bbff460.vsidx
My project (2)/.vs/My project (2)/FileContentIndex/270ed95d-a485-4009-99e1-2fd70e4f334f.vsidx
My project (2)/.vs/My project (2)/FileContentIndex/2a986acc-aaf0-4c31-9aed-05761122c96f.vsidx
My project (2)/.vs/My project (2)/FileContentIndex/46bd0fd7-1a08-4173-a953-759ab160b0cb.vsidx
My project (2)/.vs/My project (2)/FileContentIndex/c047a275-bb9a-4df2-8d6a-cc3aa82a12d9.vsidx
